.communities_outer_main_container .container .content_container{
    margin-left: 270px;
    margin-right: 15px;
}

.communities_outer_main_container .container .content_container h2{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.communities_outer_main_container .container .content_container .community_search_container input{
    padding: 16px 2rem;
    font-size: 17px;
    border: 1px solid rgb(212, 212, 212);
    margin-bottom: 1.5rem;
    width: 100%;
}

.communities_outer_main_container .container .content_container .communities_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 20px;
}

.communities_outer_main_container .container .content_container .communities_container .single_community .single_community_link_to_detail{
    /* display: flex;
    align-items: center; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1.8fr;
    gap: 20px;
    border: 1px solid rgb(212, 212, 212);
    text-decoration: none;
    color: #000;
    margin-bottom: 30px;
}

.communities_outer_main_container .container .content_container .communities_container .single_community .single_community_link_to_detail .single_community_leftside .community_img{
    width: 100%;
    height: 100%;
    margin-right: 20px;
}

.communities_outer_main_container .container .content_container .communities_container .single_community .single_community_link_to_detail .single_community_leftside h2{
    font-size: 1.8rem;
}

.communities_outer_main_container .container .content_container .communities_container .single_community .single_community_link_to_detail .single_community_leftside p{
    margin-bottom: 15px;
    line-height: 30px;
    font-weight: 300;
}